body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.nav-container {
  width: 98%;
  height: 40px;
  margin-top: 12px;
  display: flex;
  border: 2px solid black;
}

.sub-nav-left {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px;
  border-right: 2px solid black;
}

.sub-nav-right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-text {
  color: rgb(70, 70, 253);
}

.add-new-text {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
  color: rgb(70, 70, 253);
}

.contact-text {
  width: 50%;
  display: flex;
  justify-content: center;
  color: rgb(70, 70, 253);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-container {
  width: 98%;
  height: 700px;
  overflow: auto;
  border: 2px solid black;
}

.gray-color {
  height: 28px;
  display: flex;
  align-items: center;
  background-color: rgb(187, 182, 182);
}

.white-color {
  height: 28px;
  display: flex;
  align-items: center;
  background-color: rgb(252, 252, 252);
}

.text-container {
  width: 85%;
  padding-left: 10px;
  order: 1;
}

.remove {
  order: 2;
}

.add {
  margin-left: 36%;
}

.add-book-container {
  width: 98%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 40%;
  height: 25px;
}

.author {
  width: 40%;
  height: 25px;
}

.contact-container {
  width: 98%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 98%;
  height: 40px;
  margin: 20px;
  display: flex;
  align-items: center;
  border: 2px solid black;
}

.copyright {
  margin-left: 16px;
}

.hide {
  display: none;
}

.deactive {
  color: rgb(16, 16, 16);
}
